<h3>Playlist Date of Births</h3>
<p>When you first visit your personal timeline, you will see that there are already entries on it. Your timeline is automatically populated with your current Spotify playlists based on when they were created. Each of these are called a Playlist D.O.B., or Playlist Date of Birth.</p>
<p><%= link_to "Next", {:controller => 'tutorial', :action => 'index', :step => params[:step].to_i + 1} %><p>
