<h3>Sharing your Timeline</h3>
<p>This is how you share your timeline with your friends</p>
<p><%= link_to "Next", {:controller => 'tutorial', :action => 'index', :step => params[:step].to_i + 1} %><p>
