<h3>Memories</h3>
<p>Other than your playlists, your timeline will be composed mainly of Memories. A memory is an entry you add to your timeline, meaning you pick the music, date, and media (pictures or videos) associated with that entry.</p>
<p><%= link_to "Next", {:controller => 'tutorial', :action => 'index', :step => params[:step].to_i + 1} %><p>
