<h3>Defining a Moment</h3>
<p>To define a moment, you simply click on the highlighted button in the navigation bar and you will be able to select the entries you wish to add to a moment.</p>
<p><%= link_to "Next", {:controller => 'tutorial', :action => 'index', :step => params[:step].to_i + 1} %><p>
