<h3>Editing</h3>
<p>Your timeline has an editing feature for any mistakes you wish to correct or changes you wish to make. Simply click on the wrench icon on the far right side of the navigation bar and you can delete or change entries.</p>
<p><%= link_to "Next", {:controller => 'tutorial', :action => 'index', :step => params[:step].to_i + 1} %><p>
