<%# copy and paste this into a new step file under tutorial/steps/ name just liek the others :) %>
<h3>Welcome!</h3>
<p>This is what your timeline looks like. Your timeline is a side-scrolling visualization of your music that is composed of various entries. These entries are organized by the date they were added to the timeline or a date chosen by you. </p>
<%# the code below advances to the next step %>
<p><%= link_to "Start Tutorial", {:controller => 'tutorial', :action => 'index', :step => params[:step].to_i + 1} %><p>
