<h3>Moments</h3>
<p>A Moment is a way for you to group several entries on your timline into their own sub-catagory. For example, if you have several entries that all belong to the same time period, Summer 2019, you can group them all in a moment titled, "Summer 2019"</p>
<p><%= link_to "Next", {:controller => 'tutorial', :action => 'index', :step => params[:step].to_i + 1} %><p>
