<h3>Adding Memories</h3>
<p>There are two ways to add memeories to your timeline. You can either click on the highlighted button in the upper left corner of the navigation bar, or you can click on the plus sign at the end of your timeline. After clicking on either, you will be prompted to add music, media, and a description of the music and how it connects with the media/memory.</p>
<p><%= link_to "Next", {:controller => 'tutorial', :action => 'index', :step => params[:step].to_i + 1} %><p>
