// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#feed-header a {
  display: inline-block;
  background-color: #474747;
  padding: 10px;
}

#feed-header {
  text-align:center;
  background-color:#262626;
  color:white;
  //position:fixed;
  width: 100%;
  padding: 2%;
  margin: 0 auto;
}

#feed {

}

#feed-item {
  margin:auto;
  width: 60%;
  background-color:#e6e6e6;
  box-shadow: 5px 5px 5px #212121;
  height: 8%;
  margin-bottom: 2%;
}

#item-content {
  padding:2%;
}

#item-header {
  background-color:#cfcfcf;
  padding:1%;
  text-align:center;
}
