// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.memory-append img{
  padding-bottom:15% !important;
  box-shadow: none !important;
}

.moment-icon img{
  padding-bottom:15% !important;
  box-shadow: none !important;
}

.icon {
  height:12%;
  width:12%;
  float:right;
  margin-right:10%;
}

#moment-icon {
  stroke:#fff;
}

#moment-icon:hover {
  stroke:black;
}

#edit-icon {
  display: block;
  margin: auto 0;
  stroke: #fff;
  stroke-miterlimit:10;
  stroke-width:2%;
}

#edit-icon:hover {
  stroke: #c94040;
  stroke-width:5%;
}

#editing {
  display: block;
  margin: auto 0;
  stroke: #fff;
  stroke: #c94040;
  stroke-width:5%;
}

#editing:hover {
  stroke: #fff;
  stroke-width:2%;
}

#timeline-item {
  display: inline-block;
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  margin-top:3%;
  text-align: center;
}

ul {
  padding-top:2%;
}

#timeline-item ul {
  display: inline-block;
  width: 100%;
  list-style: none;
}

#timeline-item li {
  padding: 1%;
  padding-top: 5%;
}

#timeline-container img{
  display: block;
  margin:auto;
  box-shadow: 0px 3px 3px #212121;
  transition: box-shadow 0.25s ease-in-out;
}

#timeline-container{
  width:100%;
  margin-top: 0 !important;
  white-space: nowrap;
  //display: flex;
}

.moment-id {
  background-color:green;
  display: inline-block;
  text-align: center;
  white-space: normal;
  margin: 0 auto;
  padding: 1%;
}

.playlist-id {
  background-color:blue;
  display: inline-block;
  text-align: center;
  white-space: normal;
  margin: 0 auto;
  padding: 1%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#filter-controls {
  display:inline-block;
  float:right;
}

.filter-item {
  display:inline;
}

#main-controls {
  display:block;
}

.back {
  float: left;
  display:inline;
}

#timeline-item-bar {
  display: inline-block;
  width: 10%;
  height:200%;
  text-align: center;
}

#timeline-container img:hover {
  box-shadow: 5px 5px 5px #212121;
}

#timeline-nav {
  text-align:center;
  background-color:#262626;
  color:white;
  position:fixed;
  width: 100%;
  padding: 2%;
  border-bottom: 5px solid #3b3a3a;
  //margin: 0 auto;
}

#timeline-nav h1 {
  display:inline;
}

.navbar-dark {
  background-color: #171717;
}

#timeline-nav a {
  display: inline;
  background-color: #474747;
}

nav .h1 {
  color:#ededed;
}

body {
  background:#575656 !important;
  //font-family: 'Poppins', sans-serif;
}

#timeline-container {
  overflow-x: auto;
}

#playlist-header {
  text-align: center;
}

#edit, #play {
  background-color: #2981ce;
  text-align: center;
  display:block;
  margin-left:45%;
  margin-right:45%;
}

#edit:hover, #play:hover {
  background-color: #1e5f99;
}

#current-memory {
  text-align:center;
  justify-content: center;
  align-items: center;
  display:block;
  background-color: #e6e6e6;
  padding:2%;
  margin-left:35%;
  margin-right:35%;
  border-radius: 1%;
}

#track-art-container {
  height:100%;
  width:100%;
  box-shadow: 2px 3px 3px #212121;
}

.track-art {
  height:100%;
  width: 100%;
}

.previous-track-art {
  display:inline-block;
  height:30%;
  width: 30%;
  padding:10px;
}

.button {
  display:inline;
  padding: 10px;
}

.button a {
  text-decoration:none;
}

.track-name {
  text-align:center;
}

.memory {
  text-align:center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.nav-item {
  text-align:center;
  display:inline-block;
}

.selected-track {
  height: 30%;
  transition: height 2s;
}

.month-bar-item {
  display:inline-block;
  text-align:center;
}

#month-bar-label {
  background:white !important;
}
