// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#track-cover {
  height: 25%;
  width: 25%;
}

#track-info {
  text-align:center;
  background:
    linear-gradient(
      rgba(30, 32, 35, 0.9),
      rgba(30, 32, 35, 0.9)
    );
  margin-left: 20%;
  margin-right: 20%;
  padding:10px;
  color:white;
  font-family:"helvetica";
}

#memories {
  text-align:center;
  padding:10px;
  background:
    linear-gradient(
      rgba(30, 32, 35, 0.9),
      rgba(30, 32, 35, 0.9)
    );
  color:white;
  font-family:"helvetica";
  margin-left: 30%;
  margin-right: 30%;
}
