// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align:center;
  background-color:black;
  color:white;
  margin-top:-1.5%;
  padding-top:1%;
  padding-bottom:1%;
}

body {
  background-color:#424242;
}

img {
  height: 10%;
  width: 10%;
}

#playlist-header {
  text-align: center;
}

#edit, #play {
  background-color: #2981ce;
  text-align: center;
  display:block;
  margin-left:45%;
  margin-right:45%;
}

#edit:hover, #play:hover {
  background-color: #1e5f99;
}

#current-track {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:0;
  left:0;
}

.track-art {
  display:inline-block;
  height:30%;
  width: 30%;
  padding:10px;
}

.previous-track-art {
  display:inline-block;
  height:30%;
  width: 30%;
  padding:10px;
}

.button {
  display:inline;
  padding: 10px;
}

.button a {
  text-decoration:none;
}

.track-name {
  text-align:center;
}

.memory {
  text-align:center;
}

#next-track {
  background-color:#68d16d;
  position:absolute;
  right:0;
}

#previous-track {
  background-color:#68d16d;
  position:absolute;
  left:0;
}

#playlist-sidebar td{
  background-color:#666666;
}

#playlist-sidebar{
  padding-left: 1%;
  padding-right: 1%;
}

.sidebar {
  margin-top:3%;
  margin-right: 80%;
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  z-index:1;
}

.sidebar a {
  text-decoration: none;
  color:inherit;
  color:white;
}

.sidebar a:hover {
  color:#c9c9c9;
}
