// Place all the styles related to the Tutorial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tutorial-alert {
  width:50%;
  display:block;
  position:absolute;
  margin: auto;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  padding:1%;
  left: 25%;
  top: 500px;
  z-index: -2;
}

nav .h1 {
  color:#ededed;
}

.tutorial-focused {
  border: 2px solid #ffffff;

}
