// Place all the styles related to the Tutorial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tutorial-alert {
  width:100%;
  display:block;
  position:relative;
  margin: auto;
}

#timeline-container {
  margin-top: 15%;
}

#instructions-container {
  width:30%;
  background-color: #ededed;
  position:fixed;
  box-shadow: 2px 2px 2px black;
  margin: auto;
  padding:1%;
  display:block;
}
