// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
    background-color: #000000;
    z-index: 99;
}

a{
  color:inherit;
  text-decoration: none;
}

header h1 {
    margin: 0;
    padding: 10px;
  }

html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

h1 {
  text-align: center;
  z-index: 99;
}

.container {
  width: 20%;
  height: 100%;
  display: block;
  text-align: center;
  //overflow: hidden;
  z-index: 0;
}

.link-container {
  border-radius: 25px;
  background-color: #000000;
  width: 22.5%;
  padding-bottom: 22.5%;
  //height: 42.5vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.btn-success {
  top: 45%;
  left: 25%;
  position: absolute;
}

.text-container {
  font-size: 1vw;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.album_cover1 {
  border-radius: 25px;
  background-color: #000000;
  width: 18vw;
  padding-bottom: 18%;
  //height: 33.5vh;
  position: relative;
  left: 12.5%;
  bottom: initial;
  top: 50%;
  transform: translateY(75%);
  z-index: -1;
}

.album_cover2 {
  border-radius: 25px;
  background-color: #000000;
  width: 18vw;
  padding-bottom: 18%;
  position: relative;
  left: 70%;
  bottom: initial;
  top: 50%;
  transform: translateY(-25%);
  z-index: -1;
}

img.resize1 {
  width:80%;
  height:80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: none;
}

.line {
  position: absolute;
   width: 100%;
   top: 47%;
   z-index: -99;
}

.footer {
  width: 100%;
  height: 5%;
  background: #000000;
  bottom: 0;
  position: absolute;
}

.carousel {
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 100%;
  top:50%;
}

.item {
  position: absolute;
  height: 0%;
  top: 50%;
  align-items: center;
  display: flex;
}

.carousel_container {
  display:block;
}

.fa {
  font-size: 20px;
  width: 50px;
  text-align: center;
  padding: 5px;
}

.fa-twitter {
  top: 17.5px;
  right: 10px;
  position: absolute;
  background: #ffffff;
  color: black;

}

.fa-instagram {
  top: 17.5px;
  right: 60px;
  position: absolute;
  background: #ffffff;
  color: black;

}

.fa-facebook {
  top: 17.5px;
  right: 110px;
  position: absolute;
  background: #ffffff;
  color: black;
}
