<h1> <%= @user.display_name %>'s dashboard</h1>

<div id="playlist-sidebar" class="sidebar">
  <table>
    <tr>
      <th>Playlists</th>
    </tr>
    <% @playlists.each do |p| %>
      <tr>
        <td><%= link_to p.name.to_s, {:controller => 'playlists', :action => 'timeline', :playlist => p.name, :user => @user.to_hash, :offset => 0} %></td>
      </tr>
    <% end %>
  </table>
</div>
